<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Notes site</title>
    </head>

    <body>
		<h1>Notes</h1>

        <h2>Add note</h2>
        <form action='add/' method="POST">
            {% csrf_token %}

			Note <input type="text" name="note"/><br/>
            Description <input type="text" name="description"/><br/>
            <input type="submit" value="Save"/>
        </form>
        
        <ul>
		{% for note in notes %}
		<li>{{note.note}} <br/> Description: {{note.description}}</li>
		{% endfor %}
        </ul>
    </body>


    </body>
</html>
